/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Header Styles */
header {
    background-image: url('imagessss.jpg'); /* Ganti dengan path gambar yang sesuai */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

header h1 {
    background-color: rgba(0, 0, 0, 0.5); /* Background color with transparency for better readability */
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0;
    font-size: 2.5em;
}

nav {
    margin-top: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}

nav a:hover {
    text-decoration: underline;
}

/* Main Content Styles */
main {
    padding: 20px;
}

main section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
}

/* Form Styles */
form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #555;
}

/* Article Styles */
article {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

article h3 {
    margin-top: 0;
}

article p {
    color: #666;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

table th {
    background: #333;
    color: #fff;
}

table tr:nth-child(even) {
    background: #f4f4f4;
}

/* Footer Styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Image Content Styles */
.img-content {
    width: 40%; /* Adjust to desired size */
    height: auto; /* Maintain aspect ratio */
}

.img-contentt {
    width: 30%; /* Adjust to desired size */
    height: auto; /* Maintain aspect ratio */
}

